@page
@model MemoryStyle.Pages.SnowDay.MeModel
@{
    ViewData["Title"] = "Me";
}
@section Scripts{
    <script src="~/js/snow/Me.js" asp-append-version="true"></script>
}
@section Styles{
    <style>
    </style>
}
<h2>Me</h2>

<canvas id="canv" height="500"></canvas>

